$pink: #df2af5;
$purple-blue: #3c49a6;
$pink-red-faded: #b36c8e;
$cyan: #17bbd0;
$red-pink-dom-clr: #c31046;
$white: rgba(245, 245, 245, 0.938);
$lighter-blue: #003c8b;
$dark-blue: #001e46;

@mixin border-default($colour) {
	border: solid 2px $colour;
}

* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.App {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 100vh;
	width: 100%;

	.intro_section {
		font-size: smaller;
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: linear-gradient(to left, #0099b9, #1765aa, #2c518a);

		.word_box {
			margin-left: 48px;
			margin-right: 48px;

			#profession {
				color: $white;
				display: inline-flex;
				flex-wrap: wrap;
				flex-direction: column;
				padding: 0.25em;
				text-align: left;
				font-weight: 600;
				font-size: 48px;
			}
		}

		.btn_explore {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			min-width: 4em;
			min-height: 22px;
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
			border-style: none;
			color: $white;
			font-size: 26px;
			font-weight: 550;
			text-align: center;
			padding: 0.25em 0.75em;
			margin-top: 40px;
			align-self: flex-end;
			margin-right: 56px;
			background-color: $red-pink-dom-clr;
			transition: 220ms all ease-in-out;
			&:hover,
			&:active {
				background-color: scale-color($red-pink-dom-clr, $lightness: -20%);
				cursor: pointer;
			}
			&:focus {
				outline-style: solid;
				outline-color: transparent;
				box-shadow: 0 0 0 2px
					scale-color($red-pink-dom-clr, $lightness: -40%);
			}
		}

		#name {
			position: absolute;
			font-weight: 300;
			font-size: 16px;
			top: 16px;
			color: $dark-blue;
		}
	}
}
