* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#457b9d), to(#a8dadc));
  background: linear-gradient(to left, #457b9d, #a8dadc);
}

.App .intro_section {
  font-size: smaller;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .intro_section .word_box {
  width: auto;
  margin-left: 48px;
  margin-right: 48px;
  border-style: none;
  padding: 0.75em;
}

.App .intro_section .word_box #name {
  font-weight: 300;
  font-size: 18px;
  color: #1d3557;
}

.App .intro_section .word_box #profession {
  color: #f1faee;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.25em;
  text-align: left;
  font-weight: 600;
  font-size: 48px;
}

.App .intro_section .btn_explore {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  min-width: 4em;
  min-height: 22px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  border-style: none;
  color: #f1faee;
  font-size: 26px;
  font-weight: 550;
  padding: 0.25em 0.75em;
  margin-top: 40px;
  margin-right: 48px;
  background-color: #e63946;
  -webkit-transition: 220ms all ease-in-out;
  transition: 220ms all ease-in-out;
}

.App .intro_section .btn_explore:hover, .App .intro_section .btn_explore:active {
  background-color: #cc1a27;
  cursor: pointer;
}

.App .intro_section .btn_explore:focus {
  outline-style: solid;
  outline-color: transparent;
  -webkit-box-shadow: 0 0 0 2px #99131d;
          box-shadow: 0 0 0 2px #99131d;
}

@media only screen and (min-width: 770px) and (max-width: 1440px) {
  .App .intro_section .shapes {
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    left: 200px;
    bottom: 100px;
  }
  .App .intro_section .shapes #circle {
    position: absolute;
    height: 152px;
    width: 152px;
    border: solid 2px #f1faee;
    border-radius: 50%;
  }
  .App .intro_section .shapes #square {
    top: 120px;
    left: 80px;
    position: absolute;
    height: 152px;
    width: 152px;
    border: solid 2px #1d3557;
  }
  .App .intro_section .shapes #triangle {
    top: 260px;
    left: 20px;
    position: absolute;
    width: 152px;
    height: 152px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border: solid 2px #f1faee;
  }
  .App .intro_section .word_box {
    margin-left: 200px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    border-style: none;
  }
  .App .intro_section .word_box #profession {
    font-size: 80px;
  }
  .App .intro_section .btn_explore {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 300px;
    margin-top: 50px;
    min-width: 6em;
    min-height: 44px;
  }
}
/*# sourceMappingURL=style.css.map */